<h2>Welcome <%= @user.first_name %> <%= @user.last_name %></h2>

<h4>We are very happy to have you onboard!</h4>
<p>Enjoy the possibility to meet people from different industries to chat, acquire knowledge and more.</p>
