<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="card card-meeting">
  <!-- <div class="header-image" background="https://unsplash.it/1200/800" alt=""></div> -->
  <div class="header-image" style="background-image: url('https://unsplash.it/900/800')"></div>
  <div class="content">
    <h4>Francois Guerin</h4>
  </div>


</div>
