/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
p {
  font-weight: 300;
}
// Paddings
.padded {
  padding: 2em 0;

  &-top {
    padding-top: 1em;
  }

  &-bottom {
    padding-bottom: 1em;
  }
  &-left{
    padding-left: 1em;
  }
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}


// div aligment center
.div-center {
  margin: 0 auto;
}

.no-decoration{
  text-decoration: none;
  color: black;
}

.margin-bottom{
  margin-bottom: 1em;
}
