.card {
  background-color: #FFFFFF;
  border: 1px solid $light-grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-right: 5px;
  height: auto;

  &-map{
    margin: 15px;
  }

  &-meeting {
    height: 490px;
    width: 100%;
    margin-top: 15px;

    &.card-auto {
      height: auto;
    }

      div.header-image {
        width: 100%;
        height: 80px;
        // background-image: url('https://unsplash.it/1200/800');
        background-size: cover;
      }

      img {
        position: relative;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 3px solid white;
        margin: -50px auto;
        display: block;

        &:hover {
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.7);
          transform: scale(1.1);
        }
      }

      .img-2x {
        width: 150px;
        height: 150px;
        &:hover {
          box-shadow: 0 0 0 0;
          transform: none;
        }
      }

      .btn {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 10px;
        position: relative;
        color: white;
      }

      div.content {
        padding: 15px;
        margin-top: 10%;

        .btn {
          color: white;
        }

        a {
          text-decoration: none;
          color: $dark-grey;

          &:hover {
            color: $blue;
          }
        }
      }

      div.content-user {
        padding: 15px;
        margin-top: 4%;
      }

      .edit-pos{
        margin: 5px;
        text-align: right;
      }
  }

  &-home {
    width: 100%;
    padding: 15px;
  }

  &-profile {
    margin: 15px;

      div.header-image {
        width: 100%;
        height: 5em;
        // background-image: url('https://unsplash.it/1200/800');
        background-size: cover;
      }

      img {
        position: relative;
        border-radius: 50%;
        width: 50%;
        height: auto;
        overflow: hidden;
        border: 3px solid white;
        margin: -4.3em auto;
        display: block;

        &:hover {
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.7);
          transform: scale(1.1);
        }
      }

      div.content {
        margin-top: 30%;
        margin-bottom: 15px;

      }
  }

  &-list {
    margin: 15px;

      div.header-image {
        width: 100%;
        height: 50px;
        // background-image: url('https://unsplash.it/1200/800');
        background-size: cover;
      }

      img {
        position: relative;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border: 1px solid white;
        margin: -50px auto;
        flex: 0 0 20%;

        &:hover {
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.7);
          transform: scale(1.1);
        }
      }

      div.content {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 5px;
      }
      div.dash-title{
        flex: 0 0 70%;
      }
      div.dash-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      img.preview {
        width: 30px;
        height: 30px;
        margin-top: -2.8em;
      }

  }
}

.btn-card-position {
  position: absolute;
    bottom: 22px;
    width: 100%;
    left: 0;
}

.list-div {
  padding-top: 10px;
  padding-bottom: 10px;
}

#light {
  width:25px;
  height: auto;
  display: inline;
}

.list-pad {
       padding-left: 2em;
      }

